<section>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<ul class="nav nav-tabs" id="usuario">
				  <li class="nav-item">
				    <a class="nav-link active" id="e-usuario" data-toggle="tab" href="#" routerLink="/usuario" routerLinkActive="active">
							<strong>Eventos</strong>
						</a>
				  </li>
				  <li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" id="cliente" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Clientes</a>
				    <div class="dropdown-menu">
				      <a class="dropdown-item" (click)="activarCliente()" routerLink="listar-clientes" routerLinkActive="active"><i class="far fa-user"></i> Listar/Editar</a>
				      <a class="dropdown-item" (click)="activarCliente()" routerLink="agregar-cliente" routerLinkActive="active"><i class="fas fa-plus"></i> Agregar</a>
				      <a class="dropdown-item" (click)="activarCliente()" routerLink="eliminar-cliente" routerLinkActive="active"><i class="fas fa-times"></i> Eliminar</a>
				    </div>
				  </li>
					<li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" id="empleado" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Empleados</a>
				    <div class="dropdown-menu">
				      <a class="dropdown-item"><i class="fas fa-user"></i> Listar/Editar</a>
				      <a class="dropdown-item"><i class="fas fa-plus"></i> Agregar</a>
				      <a class="dropdown-item"><i class="fas fa-times"></i> Eliminar</a>
				    </div>
				  </li>
					<li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" id="equipo" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Equipos</a>
				    <div class="dropdown-menu">
				      <a class="dropdown-item"><i class="fas fa-users"></i> Listar/Editar</a>
				      <a class="dropdown-item"><i class="fas fa-plus"></i> Crear</a>
				      <a class="dropdown-item"><i class="fas fa-times"></i> Eliminar</a>
				    </div>
				  </li>
				</ul>

				<br>

				<router-outlet></router-outlet>

			</div>
		</div>
	 </div>

</section>
