<div class="border rounded">
  <br>
  <div class="container">

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar Cliente" aria-label="Buscar Cliente" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Buscar</button>
      </div>
    </div>

    <div class="list-group">
      <a  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-info"><div> <strong>Clientes</strong></div><span><span class="badge badge-primary badge-pill">ID</span></span></a>
      <div class="" *ngFor="let cliente of clientes">
        <a  [routerLink]="[cliente.id]" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="#"><div><i class="far fa-user"></i> {{cliente.nombre}} {{cliente.apellido}}<small class="text-primary"> [{{cliente.empresa}}]</small></div><span class="badge badge-primary badge-pill">{{cliente.id}}</span></a>
      </div>
    </div>

  </div>
  <br>

</div>
