<section>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<ul class="nav nav-tabs">
				  <li class="nav-item">
				    <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#usuario/dashboard" role="tab" aria-controls="home" aria-selected="true">
							<strong>Eventos</strong>
						</a>
				  </li>
				  <li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Proyectos</a>
				    <div class="dropdown-menu">
				      <a class="dropdown-item" id="listarClientes-tab" href="#usuario/clientes/listar-editar"><i class="fas fa-clipboard-list"></i> Listar/Editar</a>
				      <a class="dropdown-item" id="agregarClientes-tab" href="#usuario/clientes/agregar"><i class="fas fa-plus"></i> Agregar</a>
              <a class="dropdown-item" id="agregarClientes-tab" href="#usuario/clientes/agregar"><i class="fas fa-calendar-plus"></i> Planificar</a>
				      <a class="dropdown-item" id="eliminarClientes-tab" href="#usuario/clientes/eliminar"><i class="fas fa-times"></i> Eliminar</a>
				    </div>
				  </li>
					<li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tareas</a>
				    <div class="dropdown-menu">
				      <a class="dropdown-item" href="#"><i class="fas fa-tasks"></i> Listar/Editar/Refinar</a>
				      <a class="dropdown-item" href="#"><i class="fas fa-plus"></i> Crear</a>
              <a class="dropdown-item" href="#"><i class="fas fa-user-check"></i> Asignar</a>
				      <a class="dropdown-item" href="#"><i class="fas fa-times"></i> Eliminar</a>
				    </div>
				  </li>
				</ul>

				<br>

				<div class="tab-content" id="nav-tabContent">
				  <div class="tab-pane fade show active" id="nav-dashboard" role="tabpanel" aria-labelledby="dashboard-tab">

						<div class="border rounded">
						  <br>
						  DASHBOARD
						</div>

					</div>
				  <div class="tab-pane fade" id="nav-listarClientes" role="tabpanel" aria-labelledby="listarClientes-tab">LISTAR</div>
				  <div class="tab-pane fade" id="nav-agregarClientes" role="tabpanel" aria-labelledby="agregarClientes-tab">AGREGAR</div>
					<div class="tab-pane fade" id="nav-eliminarClientes" role="tabpanel" aria-labelledby="eliminarClientes-tab">ELIMINAR</div>
				</div>
			</div>
		</div>
	 </div>

</section>
