<section>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<ul class="nav nav-tabs">
				  <li class="nav-item">
				    <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#evento" role="tab" aria-controls="home" aria-selected="true">
							<strong>Eventos</strong>
						</a>
				  </li>
				</ul>

				<br>

				<div class="tab-content" id="nav-tabContent">
				  <div class="tab-pane fade show active" id="nav-dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
						<div class="border rounded">
						  <br>

              <div class="container">

                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Buscar Evento" aria-label="Buscar Evento" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Buscar</button>
                  </div>
                </div>

                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Proyecto SUIGS inicia Fase Elaboración</h5>
                      <small>12 hours ago</small>
                    </div>
                    <p class="mb-1">Suigs entra en la fase de elaboración y se solicito tarea de realizar diagrama de clases a Maria Perdaño.</p>
                    <small>Usuario: Ricardo Guillén</small>
                  </a>
									<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Equipo Suigs agrego nuevo integrante.</h5>
                      <small class="text-muted">2 days ago</small>
                    </div>
                    <p class="mb-1">Equipo Suigs agrego a Ricardo Guillén como Desarrollador Junior.</p>
                    <small class="text-muted">Usuario: Claudio Cortinez</small>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Empleado agregado.</h5>
                      <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Rene Descartes a sido agregado como Coordinador.</p>
                    <small class="text-muted">Usuario: Hector Moises.</small>
                  </a>
									<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Cliente agregado.</h5>
                      <small class="text-muted">4 days ago</small>
                    </div>
                    <p class="mb-1">UDO c.a. a sido agregado.</p>
                    <small class="text-muted">Usuario: Hector Moises.</small>
                  </a>
                </div>

                <br>
              </div>

						</div>
					</div>
				</div>
			</div>
		</div>
	 </div>

</section>
