<div class="border rounded">

  <div class="container">
    <form>
      <br>
      <label class="row justify-content-md-center"><h4>EDITAR CLIENTE</h4></label>
    	<br>
      <div class="form-group row">
        <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" #inputNombre placeholder="Nombre">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputApellido" class="col-sm-2 col-form-label">Apellido</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" #inputApellido placeholder="Apellido">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-4">
          <input type="email" class="form-control" #inputEmail placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" #inputUsername placeholder="Username">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-4">
          <input type="password" class="form-control" #inputPassword placeholder="Password">
          <small id="passwordHelpInline" class="text-muted">
            Debe tener entre 8-20 caracteres de longitud.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmpresa" class="col-sm-2 col-form-label">Empresa</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" #inputEmpresa placeholder="Empresa">
        </div>
      </div>
      <br>

      <div class="row justify-content-center">
        <div class="col-sm-3">
          <button type="submit" class="btn btn-danger btn-sm btn-block" (click)="cancelar()"><i class="fas fa-reply-all"></i> Cancelar</button>
        </div>
        <div class="col-sm-3">
          <button type="submit" class="btn btn-primary btn-sm btn-block" (click)="agregarCliente(inputNombre.value, inputApellido.value, inputEmail.value, inputUsername.value, inputPassword.value, inputEmpresa.value)"><i class="fas fa-save"></i> Guardar</button>
        </div>
      </div>

    </form>
    <br>

  </div>

</div>
